<%- include('template/title_admin')%>
<link rel="stylesheet" href="/static/css/index.css">

<div class="container" style="margin-bottom: 5%;">
    <div class="row" style="display: flex; align-items: center; justify-content: center;">
        <form style="margin-top: 5%; background-color: #FFF; border-radius: 22px; width: 950px; height: auto;"
         action="/mongodb/internFeedback" method="post">
        <center>
            <img src="/static/img/huawei_logo.png" alt="404Image" width="200px" height="200px">
        </center>
            <!--Personal Data-->
            <div class="row">
                <h3 class="mb-3" style="text-align: center; color: #000;">Add Internship Feedback</h3> 
                <!--Name Intership-->
                <div class="col-6 mb-3">
                    <label for="name" class="form-label" style="color: #000;">Name:</label>
                    <input type="text" class="form-control" id="name" name="name" pattern="[A-Za-zÀ-ÖØ-öø-ÿ\s]+"
                    placeholder="Complete name" style="border-color: #000;" title="Please enter only letters" required>
                </div>
                <!--Last Name-->
                <div class="col-6 mb-3">
                    <label for="lastname" class="form-label" style="color: #000;">Last name:</label>
                    <input type="text" class="form-control" id="lastname" name="lastname" pattern="[A-Za-zÀ-ÖØ-öø-ÿ\s]+"
                    placeholder="Complete last name" style="border-color: #000;" title="Please enter only letters" required>
                </div>

                <!--Text Area-->
                <div class="col-12 mb-3">
                    <label for="comment" class="form-label" style="color: #000;">Comment</label>
                    <textarea class="form-control" name="comment" id="comment" cols="30" rows="10" style="border-color: #000;" placeholder="Write the comment" required></textarea>
                </div>

                <!--photo-->
                <div class="col-12 mb-3">
                    <label for="studentphoto" class="form-label" style="color: #000;">Photo:</label>
                    <input type="file" class="form-control" id="studentphoto" style="border-color: #000;" name="studentphoto" accept="image/png">
                </div>
    
                <div class="col-12 mb-5" style="text-align: center; margin-top: 3%;">
                    <button type="submit" class="btn col-1" style="background-color:  #B5070E; color: #FFF">Next</button>
                    <a type="button" class="btn btn-secondary" href="/admin/home">Back</a>
                </div>
            </div>  
        </form>
    </div>
</div>


    

  <%- include('template/end')%>