<%- include('template/title_admin')%>
<link rel="stylesheet" href="/static/css/index.css">
<div class="row">
    <!--Presentation-->
    <div class="col-6" style="background-color: black; display: flex; align-items: center; justify-content: center;">
    <center>
        <p style="font-size: 62px;">
            <span style="color: #B5070E;">Welcome</span>
            <span style="color: #FFF;">Francisco</span>
        </p>
    </center>
    </div>
    <div class="col-6" style="padding: 0; border-top-right-radius: 10px; border-bottom-right-radius: 10px;">
    <img src="/static/img/background/Student.jpg" class="card-img-top" alt="404image">
    </div>
</div>

<div class="container" style="margin-bottom: 5%;">
    <div class="row">
      <div class="col-12 mb-5" style="text-align: center;">
        <h1>What do you want to do?</h1>
      </div>

      <div class="col-4 mb-3">
        <div class="card" style="border-color: #000;">
          <div class="card-header" style="text-align: center;">
            <img src="/static/img/applicants.png" alt="404image" height="200px" width="200px">
          </div>
          <div class="card-body mb-3" style="text-align: center;">
            <h4>Check applicants</h4>
          </div>
          <div class="card-footer mb-3" style="text-align: center;">
            <a href="/admin/student_information" type="submit" class="btn" style="background-color: #B5070E; color: #FFF;">Check</a>
          </div>
        </div>
      </div>

      <div class="col-4 mb-3">
        <div class="card" style="border-color: #000;">
          <div class="card-header" style="text-align: center;">
            <img src="/static/img/accepted.png" alt="404image" height="200px" width="200px">
          </div>
          <div class="card-body mb-3" style="text-align: center;">
            <h4>Accepted Applicants</h4>
          </div>
          <div class="card-footer mb-3" style="text-align: center;">
            <a href="/admin/student_information" type="submit" class="btn" style="background-color: #B5070E; color: #FFF;">Check</a>
          </div>
        </div>
      </div>

      <div class="col-4 mb-3">
        <div class="card" style="border-color: #000;">
          <div class="card-header" style="text-align: center;">
            <img src="/static/img/add_user.png" alt="404image" height="200px" width="200px">
          </div>
          <div class="card-body mb-3" style="text-align: center;">
            <h4>Add new user</h4>
          </div>
          <div class="card-footer mb-3" style="text-align: center;">
            <a href="/admin/student_information" type="submit" class="btn" style="background-color: #B5070E; color: #FFF;">Check</a>
          </div>
        </div>
      </div>

      <div class="col-4 mb-3">
        <div class="card" style="border-color: #000;">
          <div class="card-header" style="text-align: center;">
            <img src="/static/img/comments.png" alt="404image" height="200px" width="200px">
          </div>
          <div class="card-body mb-3" style="text-align: center;">
            <h4>Check comments</h4>
          </div>
          <div class="card-footer mb-3" style="text-align: center;">
            <a href="/admin/comments" type="submit" class="btn" style="background-color: #B5070E; color: #FFF;">Check</a>
          </div>
        </div>
      </div>

      <div class="col-4 mb-3">
        <div class="card" style="border-color: #000;">
          <div class="card-header" style="text-align: center;">
            <img src="/static/img/add.png" alt="404image" height="200px" width="200px">
          </div>
          <div class="card-body mb-3" style="text-align: center;">
            <h4>Add Internship feedback</h4>
          </div>
          <div class="card-footer mb-3" style="text-align: center;">
            <a href="/admin/add_feedback" type="submit" class="btn" style="background-color: #B5070E; color: #FFF;">Check</a>
          </div>
        </div>
      </div>

      

  </div>
</div>

<%- include('template/end')%>








