<%- include('template/title_admin')%>
<link rel="stylesheet" href="/static/css/index.css">
<div class="row">
    <!--Presentation-->
    <div class="col-6" style="background-color: black; display: flex; align-items: center; justify-content: center;">
    <center>
        <p style="font-size: 62px;">
            <span style="color: #B5070E;">Comments</span>
        </p>
    </center>
    </div>
    <div class="col-6" style="padding: 0; border-top-right-radius: 10px; border-bottom-right-radius: 10px;">
    <img src="/static/img/background/Student.jpg" class="card-img-top" alt="404image">
    </div>
</div>

<div class="container" style="margin-bottom: 5%;">
    <div class="row">
        <div class="card">
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">No.</th>
                            <th scope="col">Comment</th>
                            <th scope="col">More</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
