<%- include('template/title')%>
<link rel="stylesheet" href="/static/css/index.css">

<div class="container" style="margin-bottom: 5%; margin-top: 10%;">
    <div class="row" style="display: flex; align-items: center; justify-content: center;">
        <div class="card" style="height: auto; width: 600px; border-color: #000;">
            <div class="card-body mb-3" style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
                <h1 class="mb-5">
                    Thanks
                </h1> 
                <img src="/static/img/logos/save.png" alt="404Image" width="300px" height="300px">
            </div>
            <div class="card-footer mb-3" style="text-align: justify; font-size: 18px;">
                    <p class="mb-5">
                        Congratulations! Your administrator account has been successfully created. You now wield complete access to govern and 
                        oversee pivotal facets of the application. Welcome to the administrative team!
                    </p>
                    <center>
                        <a href="/admin/home" type="button" class="btn" style="background-color: #B5070E; color: #FFF;">Home</a>
                    </center>
            </div>
        </div>
    </div>
</div>