<%- include('template/title')%>
<link rel="stylesheet" href="/static/css/index.css">

<div class="row">
  <!--Presentation-->
  <div class="col-6" style="background-color: black; display: flex; align-items: center; justify-content: center;" >
    <center>
      <h2 style="color: white;">Huawei Technologies Mexico</h2> </br>
      <h1 style="color: white;">TAC</h1></br>
      <p style="color: white;">Click here to apply with us</p></br>
      <a href="/intern_form" class="btn col-4" style="background-color: #B5070E; color: #FFF">Hello!</a>
    </center>
  </div>
  <div class="col-6" style="padding: 0;">
    <img src="/static/img/huawei.jpg" class="card-img-top" alt="...">
  </div>
</div>

<div class="container">
    <!--
    <div class="row" style="margin-left: -5px; margin-right: -5px; margin-bottom: 10%;">-->
    
    <div class="row" style="margin-bottom: 10%;">
      <!--Presentation
      <div class="col-6" style="background-color: black; border-top-left-radius: 22px; border-bottom-left-radius: 22px;">
        <center>
          <h3 style="margin-top: 10%;color: white;">Huawei Technologies Mexico</h3> </br>
          <h1 style="color: white;">TAC</h1></br>
          <p style="color: white;">Click here to apply with us</p></br>
          <button type="submit" class="btn btn-primary col-4">Hello!</button>
        </center>
      </div>
      <div class="col-6" style="padding: 0; border-top-right-radius: 10px; border-bottom-right-radius: 10px;">
        <img src="/static/img/huawei.jpg" class="card-img-top" alt="...">
      </div> -->
    
        <!--Interns Feedback-->
        <div class="col-12">
          <div class="col-6" style="margin-top: 5%; background-color: #B5070E; border-radius: 22px; height: 55px; display: flex; align-items: center; justify-content: center;">
            <h2 style="color: #FFF;">Interns Feedback</h2>
          </div> </br>
        </div>

          <!--Fist card-->
          <div class="col-4">
            <div class="card" style="width: 24rem;">
              <img src="/static/img/perfiles/people1.jpg" class="card-img-top" alt="404Image">
              <div class="card-body">
                <h5 class="card-text" style="color: #B5070E;">Maria Fernanda</h5>
                <p class="card-text" style="font-size: 12px;">I liked this part of being a Huawei intern at TAC a lot, I've learned a lot, take an interest in them, I highly recommend them :)</p>
              </div>
            </div>
          </div>

          <!--Second card-->
          <div class="col-4">
            <div class="card" style="width: 24rem;">
              <img src="/static/img/perfiles/people2.jpg" class="card-img-top" alt="404Image">
              <div class="card-body">
                <h5 class="card-text" style="color: #B5070E;">Jose Armando</h5>
                <p class="card-text" style="font-size: 12px;">Huawei is a very pleasant experience, you enter a world where they teach you to work as a team and be the best version of yourself</p>
              </div>
            </div>
          </div>

          <!--Third card-->
          <div class="col-4">
            <div class="card" style="width: 24rem;">
              <img src="/static/img/perfiles/people3.png" class="card-img-top" alt="404Image">
              <div class="card-body">
                <h5 class="card-text" style="color: #B5070E;">Patricia Garcia</h5>
                <p class="card-text" style="font-size: 12px;">It is one of my best experiences, the attention you give us and the empathy you have with all of us despite the fact that even college students are not which company has, I am grateful to be one of the participants chosen among many</p>
              </div>
            </div>
          </div>
          <div class="col-12" style="text-align: right; margin-top: 3%;">
            <button type="submit" class="btn col-1" style="background-color: #B5070E; color: #FFF;">More...</button>
          </div>

          <!--News-->
          <div class="col-12">
            <div class="col-6" style="margin-top: 5%; background-color: #B5070E; border-radius: 22px; height: 55px; display: flex; align-items: center; justify-content: center;">
              <h2 style="color: #FFF;">News</h2>
            </div> </br>
          </div>

            <!--Fist card-->
            <div class="col-4">
              <div class="card" style="width: 24rem;">
                <img src="/static/img/dispositivos/modem.webp" class="card-img-top" alt="404Image">
                <div class="card-body">
                  <h5 class="card-text" style="color: #B5070E;">Intelligent cloud</h5>
                  <p class="card-text" style="font-size: 12px;">Huawei Enterprise Network is committed to making 'IP on Everything' a reality. To this end, Huawei has launched an end-to-end Intelligent Cloud-Network Solution powered by four-engine enterprise network products</p>
                </div>
              </div>
            </div>
  
            <!--Second card-->
            <div class="col-4">
              <div class="card" style="width: 24rem;">
                <img src="/static/img/dispositivos/oltdevice.jpeg" class="card-img-top" alt="404Image">
                <div class="card-body">
                  <h5 class="card-text" style="color: #B5070E;">Enterprise Networking</h5>
                  <p class="card-text" style="font-size: 12px;">Huawei Enterprise Network is committed to making 'IP on Everything' a reality. To this end, Huawei has launched an end-to-end Intelligent Cloud-Network Solution powered by four-engine enterprise network products</p>
                </div>
              </div>
            </div>
  
            <!--Third card-->
            <div class="col-4">
              <div class="card" style="width: 24rem;">
                <img src="/static/img/dispositivos/rtndevice.png" class="card-img-top" alt="404Image">
                <div class="card-body">
                  <h5 class="card-text" style="color: #B5070E;">Experiences</h5>
                  <p class="card-text" style="font-size: 12px;">Huawei Enterprise Network is committed to making 'IP on Everything' a reality. To this end, Huawei has launched an end-to-end Intelligent Cloud-Network Solution powered by four-engine enterprise network products</p>
                </div>
              </div>
            </div>
            <div class="col-12" style="text-align: right; margin-top: 3%;">
              <button type="submit" class="btn col-1" style="background-color: #B5070E; color: #FFF;">More...</button>
            </div>

            <!--Location-->
          <div class="col-12">
            <div class="col-6" style="margin-top: 5%; background-color: #B5070E; border-radius: 22px; height: 55px; display: flex; align-items: center; justify-content: center;">
              <h2 style="color: #FFF;">Location</h2>
            </div> </br>
          </div>
          <div class="col-12">
            <iframe class="col-12" style="border-radius: 22px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14943.073628194477!2d-100.28540425213578!3d20.556654580897828!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d3428ee46eb6cb%3A0xd11c5ab76674e2df!2sHuawei%20Technologies%20de%20M%C3%A9xico!5e0!3m2!1ses-419!2smx!4v1708030493235!5m2!1ses-419!2smx" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
          
          <!--About us-->
          <div class="col-12">
            <div class="col-6" style="margin-top: 5%; background-color: #B5070E; border-radius: 22px; height: 55px; display: flex; align-items: center; justify-content: center;">
              <h2 style="color: #FFF;">About us</h2>
            </div> </br>
          </div>
          <div class="col-12" style="background-color: #FFF; border-radius: 22px; display: flex; align-items: center; justify-content: center;">
            <p style="margin-top: 2%;">
              Founded in 1987, Huawei is a provider of information and communications technology (ICT) infrastructure and smart devices. We have approximately 
              195,000 employees and operate in more than 170 countries and regions, serving more than 3 billion people around the world.Huawei's mission is to 
              bring digitization to every person, home, and organization for a fully connected and intelligent world. To this end: we will drive ubiquitous 
              connectivity and promote equitable access to networks to lay the foundations for the smart world; provide diversified computing power to deliver 
              ubiquitous Cloud and intelligence; build powerful digital platforms to help all industries and organizations become more agile, efficient and 
              dynamic; redefine the user experience with AI, offering consumers a more personalized and intelligent experience in all scenarios, including home, 
              travel, office, entertainment, and fitness and health.
            </p>
          </div>
    </div>
</div>

<%- include('template/end')%>
