<%- include('template/title')%>
<link rel="stylesheet" href="/static/css/index.css">

<div class="row">
    <!--Presentation-->
    <div class="col-6" style="background-color: black; display: flex; align-items: center; justify-content: center;">
    <center>
        <p style="font-size: 62px;">
            <span style="color: #B5070E;">Show</span>
            <span style="color: #FFF;">the world who</span>
            <span style="color: #B5070E;">you</span>
            <span style="color: #FFF;">are</span>
        </p>
        <a href="/intern_form" class="btn col-2" style="background-color: #B5070E; color: #FFF">Hello!</a>
    </center>
    </div>
    <div class="col-6" style="padding: 0; border-top-right-radius: 10px; border-bottom-right-radius: 10px;">
    <img src="/static/img/background/huawei_fondo2.jpg" class="card-img-top" alt="404image">
    </div>
</div>

<div class="container">
    <div class="row" style="margin-left: -5px; margin-right: -5px; margin-bottom: 10%;">    
        <!--Personal development-->
        <div class="col-12">
            <div class="col-6" style="margin-top: 5%; background-color: #B5070E; border-radius: 22px; height: 55px; display: 
            flex; align-items: center; justify-content: center;">
                <h2 style="color: white;">Personal development</h2>
            </div> </br>
        </div>

        <div class="col-6" style="background-color: #FFF; display: flex; align-items: center; justify-content: center; border-radius: 22px 0px 0px 22px;">
            <div style="margin-top: 3%; margin-bottom: 3%;">
                <p style="color: #000; margin-left: 2%;">
                    The course is created to offer oportunities to university students to grow professionally in the world of technology, 
                    providing tools to develop soft skills During the program, the students will have many objectives, such as: 
                </p>
                <ul style="color: #000; margin-left: 2%;">
                    <li>Choose their favorite training</li>
                    <li>Practice their english</li>
                    <li>Practice their sofltkills</li>
                    <li>May get a job within Huawei</li>
                    <li>Meet new people and friends</li>
                </ul>
            </div>
        </div>

        <!--video-->
        <div class="col-6" style="padding: 0; background-color: #000;">
            <video width="640" height="360" controls class="card-img-top">
                <source src="/static/video/interFeedback.mp4" type="video/mp4">
                Tu navegador no soporta el elemento de video.
            </video>
        </div>

        <!--Program description-->
        <div class="col-12">
            <div class="col-6" style="margin-top: 5%; background-color: #B5070E; border-radius: 22px; height: 55px; display: 
            flex; align-items: center; justify-content: center;">
                <h2 style="color: white;">Program description</h2>
            </div> </br>
        </div>

        <!--Fist card-->
        <div class="col-4 mb-3">
            <div class="card" style="border-color: #000;">
                <div class="card-header" style="text-align: center;">
                <img src="/static/img/background/benefist.png" class="card-img-top" alt="404Image">
                </div>
                <div class="card-body mb-3" style="text-align: justify;">
                <h5 class="card-text" style="color: #B5070E;">Salary to support interns</h5>
                <p class="card-text" style="font-size: 12px;">
                    The course is created to offer opportunities to university students to grow professionally in the world of technology, 
                    providing tools to develop soft skills.
                </p>
                </div>
            </div>
        </div>

        <!--Second card-->
        <div class="col-4 mb-3">
            <div class="card" style="border-color: #000;">
                <div class="card-header" style="text-align: center;">
                <img src="/static/img/background/process.png" class="card-img-top" alt="404Image">
                </div>
                <div class="card-body mb-3" style="text-align: justify;">
                <h5 class="card-text" style="color: #B5070E;">Selection process</h5>
                <p class="card-text" style="font-size: 12px;">Change (Huawei Enterprise Network is committed to making 'IP on Everything' a reality. To this end, Huawei has launched an end-to-end Intelligent Cloud-Network Solution powered by four-engine enterprise network products)</p>
                </p>
                </div>
            </div>
        </div>

        <!--Third card-->
        <div class="col-4 mb-3">
            <div class="card" style="border-color: #000;">
                <div class="card-header" style="text-align: center;">
                <img src="/static/img/background/room.jpeg" class="card-img-top" alt="404Image">
                </div>
                <div class="card-body mb-3" style="text-align: justify;">
                <h5 class="card-text" style="color: #B5070E;">Take classes</h5>
                <p class="card-text" style="font-size: 12px;">
                    Internal classes within a company are a great opportunity for professional growth. I have participated in several and have always found tangible 
                    benefits. In addition to the development of specific skills, these classes foster a collaborative learning environment and reinforce a sense of 
                    community in the workplace. The company demonstrates its commitment to the personal growth of employees, which is very motivating. In my experience, 
                    these initiatives not only improve my job performance but also strengthen my loyalty to the company. 
                </p>
                </p>
                </div>
            </div>
        </div>

        <!--Global communication-->
        <div class="col-12">
            <div class="col-6" style="margin-top: 5%; background-color: #B5070E; border-radius: 22px; height: 55px; display: 
            flex; align-items: center; justify-content: center;">
                <h2 style="color: white;">Global Connection Cultural Integration</h2>
            </div> </br>
        </div>
    
        <!--Fist card-->
        <div class="col-4 mb-3">
            <div class="card" style="border-color: #000;">
            <div class="card-header" style="text-align: center;">
                <img src="/static/img/background/Kickoff.webp" class="card-img-top" alt="404Image">
            </div>
            <div class="card-body mb-3" style="text-align: justify;">
                <h5 class="card-text" style="color: #B5070E;">Intern Kickoff Event</h5>
                <p class="card-text" style="font-size: 12px;">

                    The Intern Kickoff Event is an exciting and vital initiative within a company. It usually marks the beginning of the internship 
                    program and provides interns with a vibrant introduction to the company's work environment. During this event, interns have the 
                    opportunity to meet other interns as well as full-time employees and company leaders.
                </p>
            </div>
            </div>
        </div>
    
        <!--Second card-->
        <div class="col-4 mb-3">
            <div class="card" style="border-color: #000;">
                <div class="card-header" style="text-align: center;">
                <img src="/static/img/background/foto1.jpeg" class="card-img-top" alt="404Image">
                </div>
                <div class="card-body mb-3" style="text-align: justify;">
                <h5 class="card-text" style="color: #B5070E;">Chinese Friend</h5>
                <p class="card-text" style="font-size: 12px;">
                    Having a Chinese friend can be an enriching experience. It gives you the opportunity to learn about Chinese culture, practice the language, 
                    and make international connections. Additionally, it can offer you a unique perspective and broaden your cultural horizons.
                </p>
                </div>
            </div>
        </div>

        <!--Third card-->
        <div class="col-4 mb-3">
            <div class="card" style="border-color: #000;">
                <div class="card-header" style="text-align: center;">
                <img src="/static/img/background/Tacevent.jpeg" class="card-img-top" alt="404Image">
                </div>
                <div class="card-body mb-3" style="text-align: justify;">
                <h5 class="card-text" style="color: #B5070E;">TAC Event</h5>
                <p class="card-text" style="font-size: 12px;">
                    Important events are significant moments that mark milestones in our lives or in history. They can include celebrations such as 
                    birthdays, weddings, graduations, and anniversaries, as well as cultural, sports, or political events at the local, national, 
                    or international level. These events are often memorable and can have a lasting impact on individuals and society as a whole.
                </p>
                </div>
            </div>
        </div>

        <!--Fourth card-->
        <div class="col-4 mb-3">
            <div class="card" style="border-color: #000;">
                <div class="card-header" style="text-align: center;">
                    <img src="/static/img/background/sport.jpg" class="card-img-top" alt="404Image">
                </div>
                <div class="card-body mb-3" style="text-align: justify;">
                    <h5 class="card-text" style="color: #B5070E;">Sports Tournaments</h5>
                    <p class="card-text" style="font-size: 12px;">
                        Sports tournaments are organized competitions that bring together teams or individuals to face off in a series of matches or games 
                        in a specific sport. These events can vary in scale, from local or regional tournaments to highly prestigious international championships.
                    </p>
                </div>
            </div>
        </div>
        
        <!--Fifth card-->
        <div class="col-4 mb-3">
            <div class="card" style="border-color: #000;">
                <div class="card-header" style="text-align: center;">
                    <iframe class="embed-responsive-item" style="height: 250px;" src="https://www.youtube.com/embed/IoztXjyQFJ0" allowfullscreen></iframe>
                </div>
                <div class="card-body mb-3" style="text-align: justify;">
                    <h5 class="card-text" style="color: #B5070E;">Other</h5>
                    <p class="card-text" style="font-size: 12px;">
                        Technology is a set of knowledge, tools, processes, and systems used to create, manipulate, and utilize products and services to meet 
                        human needs. This broad area encompasses everything from simple tools, like a hammer, to complex systems, such as global communication 
                        networks. Technology is present in every aspect of our lives, from communication and transportation to medicine and entertainment.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('template/end')%>