<%- include('template/title')%>
<link rel="stylesheet" href="/static/css/index.css">

<div class="row">
    <!--Presentation-->
    <div class="col-6" style="background-color: black; display: flex; align-items: center; justify-content: center;">
    <center>
        <p style="font-size: 62px;">
            <span style="color: #B5070E;">Huawei</span>
            <span style="color: #FFF;">is the future</span>
        </p>
    </center>
    </div>
    <div class="col-6" style="padding: 0; border-top-right-radius: 10px; border-bottom-right-radius: 10px;">
    <img src="/static/img/background/huawei_new.jpg" class="card-img-top" alt="404image">
    </div>
</div>

<div class="container">
    <div class="row">
      
        <div class="col-12">
            <div class="card mb-3" style="border-color: #000;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="/static/img/dispositivos/modem.webp" class="img-fluid rounded-start" alt="404Error">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                        <h4 class="card-text mb-3" style="color: #B5070E;">Intelligent cloud</h4>
                        <h6 class="card-text" >Huawei Enterprise Network is committed to making 'IP on Everything' a reality. To this end, Huawei has launched an end-to-end Intelligent Cloud-Network Solution powered by four-engine enterprise network products</h6>
                    </div>
                  </div>
                </div>
            </div>
        </div>

        <div class="col-12">
            <div class="card mb-3" style="border-color: #000;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="/static/img/dispositivos/oltdevice.jpeg" class="img-fluid rounded-start" alt="404Error">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                        <h4 class="card-text mb-3" style="color: #B5070E;">Enterprise Networking</h4>
                        <h6 class="card-text" >Huawei Enterprise Network is committed to making 'IP on Everything' a reality. To this end, Huawei has launched an end-to-end Intelligent Cloud-Network Solution powered by four-engine enterprise network products</h6>
                    </div>
                  </div>
                </div>
            </div>
        </div>

        <div class="col-12">
            <div class="card mb-3" style="border-color: #000;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="/static/img/dispositivos/rtndevice.png" class="img-fluid rounded-start" alt="404Error">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                        <h4 class="card-text mb-3" style="color: #B5070E;">Experiences</h4>
                        <h6 class="card-text" >Huawei Enterprise Network is committed to making 'IP on Everything' a reality. To this end, Huawei has launched an end-to-end Intelligent Cloud-Network Solution powered by four-engine enterprise network products</h6>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('template/end')%>